// ---COLORS---
$primary-color: rgb(53, 66, 74);
$secondary-color: rgb(143, 80, 139);
$colorfulBand: rgb(169, 80, 139);
$text-color: white;
$button-color: rgb(232, 73, 29);
$service-item-color: rgb(230, 230, 230);

// ---FONTS---
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
