footer {
  background-color: $primary-color;
  height: 10vh;
  h6 {
    color: $text-color;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 400;
    font-family: $font-family;
    padding-top: 0.8rem;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
}
